*{
    margin: 0;
    padding:0;
}
header{
    width: 100%;
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 70px;
}
section{
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.ancho{
    width: 80%;
    height: 70px;
    margin: auto;
}
.logo{
    width: 30%;
    height: 70px;
    padding: 5px;
    float: left;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: 1px;
}
nav{
    width: 70%;
    height: 70px;
    float: left;
    padding: 24px;
    box-sizing: border-box;
    text-align: right;
}
nav{
    display: inline;
}
nav>a{
    text-decoration: none;
    color: rgb(254, 254, 254);
    font-size: 20px;
    text-align: right;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
nav>a:hover{
    color: rgb(27, 12, 63);
}

.titulo{
    text-align: center;
    text-transform: uppercase;
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;

}
.menu-icon, #check{
    display: none;
}
.texto{
    width: auto;
    height: 100px;
    text-align: center;
    background-color:rgba(33, 33, 84, 0.663);
    font-size: 20px;
}
.linea{
    background: rgb(33, 33, 84, 0.8);
    height: 5px;
    width: 100%;
    display: block;
}
.imagenes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}
.imagenes>a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.imagenes img{
    width: 100%;
    height: auto;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;
    
}
.imagenes a:hover img{
    filter: blur(2px);
    transform: rotate(15deg) scale(1.3);
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    transform: scale(0);
}

.light-box img{
    width: 75vw;
    max-height: 70vh;
}
.light-box>p{
    display: block;
    position: absolute;
    font-size: 30px;
    bottom: 10px;
    color: white;
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    justify-content: end;
    margin: 50px;
    padding: 5px;
}


.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: white;
    color:  rgb(33, 33, 84);
    text-decoration: none;    
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.next{
    display: block;
    background: rgb(33, 33, 84);
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

.textocomp{
    text-align: center;
    font-size: 24px;
}

.home{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    border-radius: 15px;
    top: 0;
    left: 0;
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    overflow: hidden;
}
.home>img{
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 280px;
    border-radius: 55px;
    padding: 20px 20px 20px 20px;
}
.home span{
    display: block;
    position: relative;
    align-items: center;
    align-self: flex-end;
    justify-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px 80px 20px 20px;
    right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    box-sizing: border-box;

}
#a{
    display: block;
    position:relative;
    top: 10px;
    padding: 20px 80px 20px 20px;
    text-decoration: none;
    color: rgb(33, 33, 84);
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    justify-content: flex-end;
    border-radius: 5px;
    
}
footer{
    width: 100vw;
    height: 10vh;
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media (max-width:768px) {
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .menu{
        background: #0052D4;
        display: block;
        position: fixed;
        top: 70px;
        left: -100% ;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .menu a{
        padding: 1rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #check:checked ~ .menu{
        left: 0;
        transition: all .2s;

    }

    

}
@media (max-width:768px) {
    .imagenes{
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }
    .menu{
        text-transform:capitalize;
    }
}