*{
    margin: 0;
    padding:0;
}
header{
    width: 100%;
    background: rgb(33, 33, 84);
    height: 70px;
}

.ancho{
    width: 80%;
    height: 70px;
    margin: auto;
}
.logo{
    width: 30%;
    height: 70px;
    padding: 5px;
    background-color: rgb(33, 33, 84);
    float: left;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: 1px;
}
nav{
    width: 70%;
    height: 70px;
    background-color:rgb(33, 33, 84);
    float: left;
    padding: 24px;
    box-sizing: border-box;
    text-align: right;
}
nav>ul>li{
    display: inline;
}
nav>ul>li>a{
    text-decoration: none;
    color: rgb(254, 254, 254);
    font-size: 20px;
    text-align: right;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
nav>ul>li>a:hover{
    color: rgb(27, 12, 63);
}

.titulo{
    text-align: center;
    text-transform: uppercase;
    background-color:rgb(33, 33, 84, 0.8);

}

.texto{
    width: auto;
    height: 100px;
    text-align: center;
    background-color:rgba(33, 33, 84, 0.663);
    font-size: 20px;
}